@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Slab:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@300&family=Roboto+Slab:wght@300;400;500&display=swap');

body{
    background-color: #3FB8D2;
}

.border{
    background-color: #ffff;
    width: 320px;
    height: 400px;
    margin: 150px 500px 18px;
    text-align: center;
    border-radius: 20px ;
    padding: 8px;
    
}
h1 {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin: 20px 30px;

}
input{
    width: 250px;
    height: 30px;
    font-family: "Inter";
    font-size: 20px;
    padding-left: 10px;
    
}
button{
    width: 270px;
    height: 35px;
    background-color: #3FB8D2;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Inter";
}
a{
    font-size: 12px;
    font-family: "Inter";
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 30px;

}


